.overall-footer{
    background-color: #1C1C27;
    h4{
        color: #9923dd;
        font-weight: 700;
    }
    .icon{

        font-size: 23px;
        margin: 0 10px;
        margin-top: 20px;

    }
    a{
        color: white;
    }
}