.overall-skills {
    background-color: #1C1C27;
}

.overall-skills div h1 {
    font-weight: bold;
    text-align: center;
}

.content p {
    color: #93989E;
    text-align: center;
    font-size: 18px;
}

.box {
    border: 1px solid rgb(58, 17, 153);
    border-radius: 10px;
    box-shadow: 0px 1px 8px -1px rgb(141, 7, 134);
    padding: 15px;
}

.box h4{
    color: rgb(170, 164, 164);
    font-weight: 700;
    text-align: center;
}
.border-boxs {
    display: flex;
    justify-content: center;
    // border: 1px solid gray;
    // padding: 10px 15px;
    // color: white;

}
.border-boxs div{
    border: 2px solid gray;
    padding: 7px 15px;
    border-radius: 10px;
    margin: 7px 5px;
}
.border-boxs div img{
    width: 26px;
    height: 26px;
    border-radius: 120%;
    margin-right: 10px;
    background-color: white;
}